.html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--mainBackground);
  color: var(--text);
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}